.projects-page{
    padding-left: 200px;
    padding-right: 150px;
    padding-top: 50%;
    // padding-bottom: -620px;
    width: calc(100% - 150px);
    position: initial;
    height: 100%;
    overflow: auto;

    h1.page-title {
        margin-left: 100px;
        margin-top: 100px;
    }
}